
#:schema node_modules/wrangler/config-schema.json

# Cloudflare Workers 配置
name = "m3u8-player"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# Worker 入口文件
main = ".open-next/worker.js"

# 静态资源配置
[assets]
directory = ".open-next/assets"
binding = "ASSETS"